p,
a {
    color: aqua;
}

li {
    list-style-type: square;
}

span.special,
li.special {
    color: orange;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1+p {
    font-size: 200%;
}

a:hover {
    color: saddlebrown;
    text-decoration: none;
}

body h1+p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}